.title{
    margin: 5px;
    padding: 20px;
    color: aliceblue;
}
html, body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

marquee {
    background-color: aliceblue;
    color: black;
}

body {
    background: black;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
    margin-left: 60px;
}
  